<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css" media="screen"/>
        <title>Books | Shelvs</title>
    </head>
    <body>
        <% @books.each do |book|%>
            <a href=<%= "/books/#{book.id}" %>>
                <img class="cover_image" src=<%= book.cover != nil ? book.cover : "../images/book_default.png" %>>
                <p class="name"><%= "#{book.title} | #{book.author}" %></p>
            </a>
        <% end %>
    </body>
</html>