<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css" media="screen"/>
        <title>Add A New Book | Shelvs</title>
    </head>

    <body>
        <% if Helpers.is_logged_in?(@session) %>
            <h1>Add a new book below</h1>
            <form method="POST" action="/books">
                <p>Book Tittle: <input type="text" name="book[title]"></p>
                <p>Author: <input type="text" name="book[author]"></p>

                <p>Add Book to Libraries(optional):</p>
                
                <% @libraries.each do |library| %>
                    <input type="checkbox" name="book[library_ids][]" value=<%= library.id %>><%= "#{library.name}" %>
                <% end %>
                
                <br>

                <p>and/or, create a new library:</p>

                <p>Name:<input type="text" name="library[name]"></p>

                <input type="submit" value="Create Book">
            </form>
        <% else %>
            <h3>Please Log In to Continue</h3>
        <% end %>
    </body>
</html>