<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/style.css" media="screen"/>
        <title>Add A New Book | Shelvs</title>
    </head>

    <body>
        <% if Helpers.is_logged_in?(@session) %>
            

            <div class="form">
            <h1 class="title">Add a New Book</h1>
            <form method="POST" action="/books">
                <input type="text" name="book[title]" placeholder="Title">
                <input type="text" name="book[author]" placeholder="Author">

                <p>Add Book to Libraries(optional):</p>
                
                <% @libraries.each do |library| %>
                    <input type="checkbox" name="book[library_ids][]" value=<%= library.id %>><%= "#{library.name}" %>
                <% end %>
                
                <br>

                <p>and/or, create a new library:</p>

                <input type="text" name="library[name]" placeholder="Name">

                <div class="button>">
                <input type="submit" value="Create Book">
                </div>
                
            </form>
            </div>
        <% else %>
            <h3>Please Log In to Continue</h3>
        <% end %>
    </body>
</html>