<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css" media="screen"/>
        <title>Libraries | Shelvs</title>
    </head>
    <body>
        <ul>
        <% @libraries.each do |library|%>
            <li><a href=<%= "/libraries/#{library.id}" %>><h1><%= "#{library.name} | #{library.user.name}" %></h1></a></li>
        <% end %>
        </ul>
    </body>
</html>