<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css" media="screen"/>
        <title>Libraries | Shelvs</title>
    </head>
    <body>
        <br>
        <button class="button" type="button" value="Create Library">Create Library<a href="/libraries/new"></button>
        <br>
        <h1 class="title">All Libraries:</h1>
        <% @libraries.each do |library|%>
            <a class="library" href=<%= "/libraries/#{library.id}" %>>
                <img class="cover_image" src=<%= library.cover != nil ? library.cover : "../images/library_default.png" %>>
                <p class="name"><%= "#{library.name}" %></p>
            </a>
            <br>
        <% end %>
    </body>
</html>