<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css" media="screen"/>
        <title>Create A New Library | Shelvs</title>
    </head>

    <body>
        <% if Helpers.is_logged_in?(@session) %>
            <h1>Create a new library below</h1>
            <form method="POST" action="/libraries">
                <p>Library Name: <input type="text" name="library[name]" required></p>

                <p>Choose Books:</p>
                
                <% @books.each do |book| %>
                    <input type="checkbox" name="library[book_ids][]" value=<%= book.id %>><%= "#{book.title} | #{book.author}" %>
                <% end %>
                
                <br>

                <p>and/or, add a new book:</p>

                <p>Title:<input type="text" name="book[title]"></p>
                <p>Author:<input type="text" name="book[author]"></p>

                <input type="submit" value="Create Table">
            </form>
        <% else %>
            <h3>Please Log In to Continue</h3>
        <% end %>
    </body>
</html>