<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css" media="screen"/>
        <title>Create A New Library | Shelvs</title>
    </head>

    <body>
        <% if Helpers.is_logged_in?(@session) %>
            <br>
            <h1 class="header">Create a new library below</h1>

            <div class="form">
            <form method="POST" action="/libraries">
                <input type="text" name="library[name]" placeholder="Library Name" required>

                <p>Library Cover Image(Work in Progress): <!--<input type="file" name="image" accept="image/*"></p>-->

                <p>Choose Books:</p>
                
                <% @books.each do |book| %>
                    <input type="checkbox" name="library[book_ids][]" value=<%= book.id %>><%= "#{book.title} | #{book.author}" %>
                <% end %>
                
                <br>

                <p>and/or, add a new book:</p>

                <input type="text" name="book[title]" placeholder="Title">
                <input type="text" name="book[author]" placeholder="Author">

                <div class="button>">
                <input type="submit" value="Create Table">
                </div>
            </form>
            </div>
        <% else %>
            <h3>Please Log In to Continue</h3>
        <% end %>
    </body>
</html>