<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="../css/style.css" media="screen"/>
            <title>Error!</title>
        </head>
        <body>
            <br>
            <h1 class="title">An Error Has Occurred! Please Try Again!</h1>
        </body>
    </html>