<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/navbar.css" media="screen"/>
    </head>
    <body>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/libraries">Libraries</a></li>
        <li><a href="/books">Books</a></li>
        </ul>
        <%= yield %>
    </body>
</html>